Podfile
Podfile.lock
goyo.xcodeproj/xcuserdata/dannygosain.xcuserdatad/xcschemes/xcschememanagement.plist
goyo.xcodeproj/project.xcworkspace/xcuserdata/dannygosain.xcuserdatad/UserInterfaceState.xcuserstate
goyo/goyo.xcdatamodeld/
goyo/Info.plist
goyo.xcodeproj/
goyo.xcworkspace/xcuserdata/dannygosain.xcuserdatad/UserInterfaceState.xcuserstate
goyo.xcodeproj/project.pbxproj
../../chartsDemos/SwiftCharts/pieChart/pieChart.xcworkspace/xcuserdata/dannygosain.xcuserdatad/UserInterfaceState.xcuserstate
goyo.xcodeproj/xcuserdata/dannygosain.xcuserdatad/xcschemes/xcschememanagement.plist
goyo.xcworkspace/xcuserdata/dannygosain.xcuserdatad/UserInterfaceState.xcuserstate
